.estilo-boton{
    width: 25%;    
    border-radius: 2px;
    border-color:transparent;
    color: white;
    margin-left: 18%;
    margin-top: 0px;
    font-size: 17px;   
    border-radius:10px; 
    border-color:transparent;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);

}

.red {

}

.blue {
      background-color: rgb(18, 81, 139);
}