<h3>{{ data.id ? data.id + " - " : "" }}Función: {{ data.name }} <b *ngIf="data.name == ''">Sin nombre</b></h3>
<mat-card *ngIf="data.desc.trim()!=''" style="background-color: whitesmoke;margin-bottom: 2%;padding: 5px">
  <i>{{ data.desc }}</i>
</mat-card>
<ngx-codemirror
  [(ngModel)]="data.fullcode"
  [disabled]="true"
  [options]="{
    lineNumbers: true,
    theme: 'material',
    mode: 'javascript'
  }"
  id="view"
  style="margin-bottom: 5%"
></ngx-codemirror>
<h3 *ngIf="(data.tags == '' ? [] : data.tags.split(' ')).length != 0">Tags</h3>
<mat-chip-list #chipList>
  <mat-chip
    *ngFor="let item of data.tags == '' ? [] : data.tags.split(' ')"
    [selectable]="true"
    [removable]="true"
    [style.background-color]="getColor(item)"
    [style.color]="contrast(item)"
  >
    {{ item }}
  </mat-chip>
</mat-chip-list>
<!--
<span *ngFor="let item of data.tags == '' ? [] : data.tags.split(' ')">
  <mat-card
    [style.background-color]="getColor(item)"
    [style.color]="contrast(item)"
    style="width:fit-content;background-color:lightgray; margin: 1%; padding:7.5px; display: inline-block;"
  >
    {{ item }}
  </mat-card>
</span>
-->
<h3 *ngIf="Object.keys(data.deps).length != 0">Dependencias:</h3>
<span *ngFor="let item of Object.keys(data.deps)">
  <mat-card
    [style.background-color]="getColor(data.deps[item])"
    [style.color]="contrast(data.deps[item])"
    style="width:fit-content;background-color:lightgray;cursor:pointer; margin: 1%; padding:7.5px; display: inline-block;"
    (click)="dependencia(item)"
  >
    {{ data.deps[item] }}
  </mat-card>
</span>
<br />
<button
  mat-button
  style="margin-left: auto; display: flex"
  color="primary"
  (click)="copyFn()"
>
  {{ whatCopy() }}
</button>
<button *ngIf="data.id" mat-button style="margin-left: auto; display: flex" color="primary" (click)="compile(data.code)">
  Compilar librería
</button>
