<mat-tab-group [backgroundColor]="'accent'">
  <mat-tab label="Funciones">
    <mat-paginator [length]="getLengthLings()" [pageSize]="pageSize"
      *ngIf="getLings() !== undefined" (page)="setPageLings($event)">
    </mat-paginator>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile *ngFor="let ling of listLings">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="photo" [ngStyle]="{'background-image': 'url(\''+ling.photourl+'\')'}"></div>
            <mat-card-title>{{ ling.code }} - {{ling.f_name}}</mat-card-title>
            <mat-card-subtitle>{{ling.displayname}}</mat-card-subtitle>
            
          </mat-card-header>
          <mat-card-content>
            <p>{{ ling.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button id="{ ling.code }" (click)="view(ling.code)">Ver</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
  <mat-tab label="Mis funciones" *ngIf="user !== undefined">
    <mat-paginator [length]="getLengthMyLings()" [pageSize]="pageSize"
      *ngIf="getMyLings() !== undefined" (page)="setPageMyLings($event)">
    </mat-paginator>
    <mat-grid-list cols="2" rowHeight="1:1">
      <mat-grid-tile *ngFor="let ling of listMyLings">
        <mat-card class="card">
          <mat-card-header>
            <div mat-card-avatar class="photo" [ngStyle]="{'background-image': 'url(\''+ling.photourl+'\')'}"></div>
            <mat-card-title>{{ ling.code }} - {{ling.f_name}}</mat-card-title>
            <mat-card-subtitle>{{ling.displayname}}</mat-card-subtitle>
          </mat-card-header>
          <mat-card-content>
            <p>{{ ling.description }}</p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button id="{ ling.code }" (click)="view(ling.code)">Ver</button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </mat-tab>
</mat-tab-group>
