<span style="height: 100vh;width: 100%; display: inline-block;overflow:auto">
  <mat-toolbar color="primary">
    <span>Fingerlings</span>
    <span style="flex: 1 1 auto"></span>
    <button mat-icon-button id="log_icon" (click)="openDialog()">
      <mat-icon aria-hidden="false" aria-label="User verified icon">perm_identity</mat-icon>
    </button>
  </mat-toolbar>
  <app-search-lib></app-search-lib>
  <section style="padding: 1%">
    <app-editor
      style="width: 50%;height:-webkit-fill-available;display: inline-flex;flex-direction: column"
    ></app-editor>
    <app-gallery
      style="width: 50%;height:-webkit-fill-available;background-color: whitesmoke;display: inline-block;"
    ></app-gallery>
  </section>
</span>
