<span style="height: 100vh;width: 100%; display: inline-block;overflow:auto">
  <mat-toolbar color="primary">
    <div class="show_info" (click)="openInfoDialog()"> 
      <img src="../assets/fingerling.svg" class="logo" alt="Logo" srcset="">
      <span>&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;Information</span>
    </div>
    <span>Fingerlings</span>
    <span style="flex: 1 1 auto"></span>
    <app-search-lib style="width: 70%"></app-search-lib>
    <button
      mat-icon-button
      id="log_icon"
      (click)="openDialog()"
      *ngIf="!is_login"
    >
      <mat-icon aria-hidden="false" aria-label="User verified icon">
        perm_identity
      </mat-icon>
    </button>
    <button mat-icon-button id="log_icon" (click)="logout()" *ngIf="is_login">
      <mat-card-header _ngcontent-hpu-c6="" class="mat-card-header">
        <div
          _ngcontent-hpu-c6=""
          class="photo"
          [ngStyle]="{
            'background-image':
              user !== undefined ? 'url(\'' + user.photoURL + '\')' : ''
          }"
          mat-card-avatar=""
        ></div>
      </mat-card-header>
    </button>
  </mat-toolbar>
  <section style="padding: 1%">
    <app-editor
      style="width: 50%;height:-webkit-fill-available;display: inline-flex;flex-direction: column"
    ></app-editor>
    <app-gallery
      [user]="user"
      style="width: 50%;height:-webkit-fill-available;background-color: whitesmoke;display: inline-block;"
    ></app-gallery>
  </section>
</span>
